<!doctype html>
<html lang="en">
<head>
    <title>{{ currentSite.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        pre.sf-dump {
            font-size: 1.25rem !important;
        }
    </style>
</head>
<body>
    <div class="flex flex-col justify-center items-center h-screen space-y-5 text-xl">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
